<!DOCTYPE html>
<html>
	<head>
        <title>About Me</title>
        <link href="https://fonts.googleapis.com/css2?family=Bree+Serif&family=Open+Sans&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
        <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="css/index.css">
    </head>

<body class="aboutBg">   
        <nav class="navbar navbar-expand-lg navbar-dark fixed-top">
            <div class="container">
                <a class="navbar-brand" href="landing.html">Woodworks</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                    </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                    <a class="nav-link" href="landing.html">Home</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="collection.html">Collection</a>
                    </li>
                    <li class="nav-item active">
                    <a class="nav-link" href="about.html">About</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="contact.html">Contact</a>
                    </li>
                </ul>
                </div>
            </div>
        </nav>
    
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
              <h1 class="display-4">About Me</h1>
              <p class="lead">Woodworkings for Family & Friends</p>
            </div>
        </div>

        <div class = "container aboutMe">
            <div class="row align-items-left">
                <div class="col-lg-4 text-center">
                    <img src="images/image2.jpeg" alt="" class="img-fluid portrait">
                </div>   
                <div class="col-lg-8 text-left">
                    <div class="col-sm-1"></div>
                    <div class="col-sm-11">
                        <div class="row">
                            <h1>Steve Collett</h1>
                        </div>
                        <div class="row">
                            <h4>Woodworking Enthusiast</h4>
                        </div>
                        <div class="row align-items-left overflow-auto aboutText">
                            <p>Hi, I'm Steve.</p>
                            <p>
                                Doggo ipsum boof. Maximum borkdrive you are doing me the shock pupperino pupper. Dat tungg tho heck maximum borkdrive floofs fat boi,
                                lotsa pats length boy very jealous pupper. 
                                Doing me a frighten ur givin me a spook blep aqua doggo, much ruin diet doggorino sub woofer, puggo stop it fren. 
                                Bork tungg shibe blop waggy wags, borkdrive lotsa pats. 
                                Very jealous pupper clouds extremely cuuuuuute super chub you are doin me a concern you are doing me the shock, 
                                big ol pupper most angery pupper I have ever seen I am bekom fat big ol, much ruin diet long bois shoob shooberino.  
                                Super chub tungg long water shoob, super chub. Adorable doggo heckin angery woofer doing me a frighten he made many woofs aqua doggo 
                                long doggo blop, you are doing me the shock noodle horse smol thicc heckin angery woofer. Doing me a frighten very hand that feed shibe 
                                shoober thicc, many pats.
                            </p>
        
                            <p>
                                Lotsa pats most angery pupper I have ever seen smol borking doggo with a long snoot for pats doggorino. 
                                Long doggo bork doge heckin good boys corgo very jealous pupper, borkf length boy heck. 
                                Floofs length boy very good spot corgo puggorino, shoober porgo doggo.
                            </p>
                        </div>

                    </div>
                </div> 
            </div>
        </div>

        
        
        
    <hr>
    <footer> 
        <ul>
            <li>Created by Mason Collett for CS 290</li>
            <li>Free images provided by <a href="https://unsplash.com/">Unsplash</a></li>
            <li>Go Beavs!</li>
        </ul>  
    </footer>
        

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>
</html>