<!DOCTYPE html>
<html>
	<head>
        <title>Woodworks</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://fonts.googleapis.com/css2?family=Bree+Serif&family=Open+Sans&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
        <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
        <script src="https://use.fontawesome.com/28350c0eb5.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="css/index.css">
<body>
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top">
        <div class="container">
          <a class="navbar-brand" href="landing.html">Woodworks</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item active">
                <a class="nav-link" href="landing.html">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="collection.html">Collection</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="about.html">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="contact.html">Contact</a>
              </li>
            </ul>
          </div>
        </div>
    </nav>
    <section class="container-fluid px-0">
        <div id="carouselIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
              <li data-target="#carouselIndicators" data-slide-to="0" class="active"></li>
              <li data-target="#carouselIndicators" data-slide-to="1"></li>
              <li data-target="#carouselIndicators" data-slide-to="2"></li>
              <li data-target="#carouselIndicators" data-slide-to="3"></li>
            </ol>
            <div class="carousel-inner" role="listbox">
              <!-- Slide One - Set the background image for this slide in the line below -->
              <div class="carousel-item active" style="background-image: url(images/image9.jpg)">
                <div class="carousel-caption first-caption">
                    <div class="caption-text">
                        <h2 class="display-4 title">Woodworks</h2>
                        <p class="lead">A Collection by Steven Collett</p>
                        <a class="nav-link" href="collection.html"><button type="button" class="btn btn-info">Explore Collection</button></a>
                    </div>
                </div>
              </div>
              <!-- Slide Two - Set the background image for this slide in the line below -->
              <div class="carousel-item" style="background-image: url(images/image8.jpg)">
                <div class="carousel-caption other-caption d-md-block">
                    <div class="caption-text">
                        <h3 class="display-4">Second Slide</h3>
                        <p class="lead">This is a description for the second slide.</p>
                    </div>
                </div>
              </div>
              <!-- Slide Three - Set the background image for this slide in the line below -->
              <div class="carousel-item" style="background-image: url(images/image11.jpg)">
                <div class="carousel-caption other-caption">
                    <div class="caption-text">
                        <h3 class="display-4">Third Slide</h3>
                        <p class="lead">This is a description for the third slide.</p>
                    </div>
                </div>
              </div>
              <div class="carousel-item" style="background-image: url(images/image10.jpg)">
                <div class="carousel-caption other-caption">
                    <div class="caption-text">
                        <h3 class="display-4">Fourth Slide</h3>
                        <p class="lead">This is a description for the fourth slide.</p>
                    </div>
                </div>
              </div>
            </div>
            <a class="carousel-control-prev" href="#carouselIndicators" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
            <a class="carousel-control-next" href="#carouselIndicators" role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a>
        </div>
    </section>
    
    <section class="container-fluid px-0">
        <div class="row align-items-center content">
            <div class="col-md-6 text-center">
                <div class="row justify-content-center">
                    <div class="col-10 col-lg-8 blurb mb-5 mb-md-0">
                        <h2>MASTERCLASS CRAFTSMANSHIP</h2>
                        <img src="images/craft.png">
                        <p class="lead">Doggo ipsum corgo very hand that feed shibe long water shoob adorable doggo super chub very hand that feed shibe,
                             doggorino yapper long bois. Adorable doggo noodle horse ruff most angery pupper I have ever seen long bois heckin good boys, 
                             puggo sub woofer you are doing me a frighten floofs. Aqua doggo h*ck wow very biscit extremely cuuuuuute shoober heckin angery woofer, 
                             I am bekom fat vvv boof. doing me a frighten.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <img src="images/image14.jpg" alt="" class="img-fluid">
            </div>
        </div>
        <div class="row align-items-center content">
            <div class="col-md-6 order-2 order-md-1">
                <img src="images/image13.jpg" class="img-fluid">
            </div>
            <div class="col-md-6 text-center order-1 order-md-2">
                <div class="row justify-content-center">
                    <div class="col-10 col-lg-8 blurb mb-5 mb-md-0">
                        <h2>LOCALLY SOURCED MATERIALS</h2>
                        <i class="fa fa-2x fa-tree"></i>
                        <p class="lead">Doggo ipsum corgo very hand that feed shibe long water shoob adorable doggo super chub very hand that feed shibe,
                            doggorino yapper long bois. Adorable doggo noodle horse ruff most angery pupper I have ever seen long bois heckin good boys, 
                            puggo sub woofer you are doing me a frighten floofs. Aqua doggo h*ck wow very biscit extremely cuuuuuute shoober heckin angery woofer, 
                            I am bekom fat vvv boof. doing me a frighten.</p>                    </div>
                </div>
            </div>
        </div>
        <div class="row align-items-center content">
            <div class="col-md-6 text-center">
                <div class="row justify-content-center">
                    <div class="col-10 col-lg-8 blurb mb-5 mb-md-0">
                        <a href="collection.html"><span id="underline"><h2>EXPLORE THE COLLECTION</h2></span><img class="explore" src="images/explore.png"></a>
                        <p class="lead">Doggo ipsum corgo very hand that feed shibe long water shoob adorable doggo super chub very hand that feed shibe,
                            doggorino yapper long bois. Adorable doggo noodle horse ruff most angery pupper I have ever seen long bois heckin good boys, 
                            puggo sub woofer you are doing me a frighten floofs. Aqua doggo h*ck wow very biscit extremely cuuuuuute shoober heckin angery woofer, 
                            I am bekom fat vvv boof. doing me a frighten.</p>                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <img src="images/image15.jpg" class="img-fluid">
            </div>
        </div>
    </section>

    <hr>
    <footer> 
        <ul>
            <li>Created by Mason Collett for CS 290</li>
            <li>Free images provided by <a href="https://unsplash.com/">Unsplash</a></li>
            <li>Go Beavs!</li>
        </ul>  
    </footer>
        

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>
</html>

